.Activity{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.activites{
    color: #0d24a56e;
    font-size: 3rem;
    font-weight: bold;
}

.Activity-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}